/* You can add global styles to this file, and also import other style files */
@import 'assets/bootstrap-4.4.1/css/bootstrap.css';

$text-color-primary: #191919;
$text-color-secondary: #707070;
$text-color-number: #919191;
$border-color: #F2F2F2;

body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-primary;
}

h1 {
  font-weight: 300;
  margin: 25px 0 50px;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.tp-event-list {
  background-color: #e1e1e1;
}

.tp-event-item {
  margin: auto -45px;
  border-bottom: 1px $border-color solid;

  &:last-child {
    border-bottom: none;
  }

  .event-item-col {
    display: inline-block;
    vertical-align: middle;
    padding: 20px 30px;

    height: 100%;
  }

  .week-day,
  .date {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
  }

  .date {
    color: $text-color-number;
  }

  .event-name {
    font-size: 24px;
    font-weight: 700;
  }

  .place,
  .time {
    font-size: 12px;
    font-weight: 400;
    color: $text-color-primary;
    letter-spacing: 0.3px;
  }

  .reg-info {
    margin: 0 -30px;
  }

  .reg-info-item {
    display: inline-block;
    width: 130px;
    text-align: center;
    letter-spacing: 1.0px;

    .title {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
    }

    .count{
      font-size: 36px;
      color: $text-color-number;
      font-weight: 700;
    }
  }
}
